<div class="container-fluid">
    <div class="jumbotron">
        <h1>News Catcher
            <small>
                <i class="fab fa-android"></i>
                <em>Android Edition</em>
            </small>
        </h1>
        <button type="button" class="btn btn-secondary" id="btnGetArticles">Get Articles</button>
    </div>
    <div class="container" id="resultsArea">
        {{#each articles}}
            <div class="row">
                <div class="col-md">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title">{{headline}}</h5>
                            <p class="card-text">
                                <div>{{summary}}</div>
                                <br>
                                <div>
                                    <a href={{url}} target="_blank">{{url}}</a>
                                </div>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary notes" data-btn-id={{_id}}>Notes</button>
                                </div>
                            </div>
                            <div class="notes" id={{_id}} style="display:none;">
                                Notes placeholder {{_id}}
                                <form role="form" class="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="noteTitle{{_id}}" placeholder="Title">{{title}}</input>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" id="noteBody{{_id}}" placeholder="Notes">{{body}}</textarea>
                                    </div>
                                    <button type="submit" class="btn btn-sm btn-secondary noteSubmit" id={{_id}}>Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
